@import "tailwindcss";

:root {
  --stroke-outline: #f9f9f9;
  --bg-color: #f9f9f9;
  --text-color: #111111;

  --target-red: #c43333;
  --target-red-dark: #942121;

  --first-guess: #3b9e9e;
  --first-guess-dark: #2e7777;

  --second-guess: #4f7cac;
  --second-guess-dark: #3A5B7E;

  --third-guess: #b48f2b;
  --third-guess-dark: #8c6f1f;

  --fourth-guess: #8c6fa8;
  --fourth-guess-dark: #684e83;

  --fifth-guess: #d17968;
  --fifth-guess-dark: #943F2E;

  --other-lines: #757575;

  --axis-text-color: #6b7280;
  --axis-lines-color: #b6b6b6aa;

  --modal-bg-color: #f9f9f9;
  --modal-overlay: #202020b4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --stroke-outline: #121212;
    --bg-color: #121212;   
    --text-color: #eeeeee;  

    --other-lines: #999999;

    --target-red: #CF4444;

    --modal-bg-color: #343434;
    --modal-overlay: #202020b4;
  }
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: "Open Sans Variable", system-ui, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease,
    fill 0.3s ease,
    stroke 0.3s ease,
    outline-color 0.3s ease;
}