@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --stroke-outline: #f9f9f9;
  --bg-color: #f9f9f9;
  --text-color: #111111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --stroke-outline: #111111;
    --bg-color: #121212;      /* dark background */
    --text-color: #eeeeee;    /* light text */
  }
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}